@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Bangers&display=swap');
*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box; 
}
body{
    background-color:rgb(216, 206, 206);

}
main{
    background-color: white;
    margin:30px;
}
.container-aside-article{
    display: flex;
    height: 300px;
}
img{
    border: 1px solid rgba(172, 172, 172, 0.262); 
    width: 200px;
    height: 200px;
    margin: 16px;
    
}
h2{
    font-family:"alfa slab one", sans-serif;
    
    -webkit-text-stroke: 1.5px black;   
    color: #FFED00;
    margin:36px;
}
.parrafo{
    font-family: "bangers",sans-serif;
    color: grey;
    margin: 77px 36px 60px;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 22px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: center;
}
button{
    font-family: "Abril Fatface",sans-serif;
    font-size: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 5px;
}
button:hover{
    transition: 1s;
    background-color: black;
    color: white;
}
.section_p{
    display: flex;
    text-align: center;
    align-items: center;
   
    height: 300px;


}
.section_p p{
    margin: 0 200px 0 220px;
   
    width: 800px;
    color: grey;
    font-family: "bangers",sans-serif;
}

